@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dosis:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0px;
    padding:0px;
    font-family: "Roboto", sans-serif;
}
html{
    scroll-behavior: smooth;
}
.whatsapp-mobile{
    display: none;
}

header {
    background-image: url(../fundomarmore2.jpg);
    background-size: cover;
    background-position: top;
    box-shadow: inset 0px 0px 6px 4px rgba(0, 0, 0, 0.651);
}
.topo{
    color: white;
    display: flex;
    background-color: rgba(0, 0, 0, 0.911);
    padding: 5px;
    justify-content: center;
    font-family: "Barlow", sans-serif;
}
.topo>a{
    color: white;
    display: flex;
    background-color: rgba(0, 0, 0, 0.911);
    padding: 3px;
    justify-content: center;
    font-family: "Barlow", sans-serif;
    text-decoration: none;
}
.tel{
    margin-right: 120px;
}
.email{
    margin-right: 120px;
    font-size: 17px;
}
.local{
    padding-top: 2px;
}
.tel-icon{
    color: white;
    width: 18px;
    padding-top:3px;
    margin-right: 10px;
}
.email-icon{
padding-top:4px;
margin-right: 7px;
}
.local-icon{
    width:15px;
    padding-top: 2px;
    margin-right: 6px;
}
.whatsapp{
    display: flex;
    justify-content: right;
    margin: 10px;
    align-items: center;
    position: fixed;
    bottom: 15px;
    right: 15px;
    transition-duration: 0.2s;
}

.linkwhatsapp{
    background-color: #25D366;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
    padding-left: 28px;
    font-weight: 300;
}

.whatsapp:hover{
    transform: scale(1.08);
}

.wappicon{
    color: white;
    margin-right: -22px;
    z-index: 99999;
}







.menu{
    padding-bottom: 20px;
}
.menu>ul{
    display: flex;
    list-style-type: none;
    padding:10px;
    margin-top:12px;
    justify-content: center;
}

.menu>ul>li{
    margin-left: 60px;
    font-size: 18px;
    font-weight:500;
    font-family: "Roboto", sans-serif;
}

.menu>ul>li>a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    display: inline-block;
    transition: 0.2s;
}

.logo{
   display: flex;
    justify-content: center;
}
.logo>img{
    width: 250px;
    margin-top: 20px;
}

.menu>ul>li>a:hover{
    transform: scale(1.08);
}

.menu-mobile{
    background-color: rgb(43, 42, 42);
    justify-content: right;
    position: fixed;
    top: 42px;
    right: 0px;
    z-index: 999;
    width: 0%;
    padding-bottom: 20px;
    transition: .2s;
}
.x{
    color: white;
    padding: 5px;
    display: none;
    cursor: pointer;
}
.menu-mobile>ul{
    list-style-type: none;
    text-align: right;
    padding-right: 7px;
}
.menu-mobile>ul>li{
    margin-bottom: 15px;
}
.menu-mobile>ul>li>a{
    text-decoration: none;
    color: white;
}

.menu-mobile.abrir-menu{
    width: 60%;
}
.botao-menu{
    display: none;
    cursor: pointer;
    position: absolute;
    top: 28px;
    right:10px;
}





.fundo{
    background-image: url(../background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 40px;
    padding-bottom: 40px;
}

.sobre{
    text-align: center;
}
.titulo{
    font-size: 28px;
    color: white;
    padding-top: 50px;
    margin-bottom: 20px;
    font-weight: 500;
}

.paragrafo{
   color: white;
   max-width: 1000px;
   font-size: 20px;
   text-align: center;
   padding-bottom: 90px;
   margin: auto;
}




.secao-areas{
    background-image: url(../fundomarmore2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.secao-areas>h2{
    padding-top: 50px;
    text-align: center;
    font-weight: normal;
    font-size: 28px;
}
.minilogo-areas{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    margin-top: 2px;
}
.minilogo{
    width: 320px;
}
.areas{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    margin-top: 80px;
    padding: 0px 15px;
    max-width: 1200px;
    margin: auto;
    gap: 50px;
    font-family: "Roboto", sans-serif;
}

.areas>div>li{
    font-size: 19px;
}

.areas-baixo>div>li{
    font-size: 19px;
}
.areas>div{
    box-shadow: 0px 0px 5px 0.5px rgba(0, 0, 0, 0.822);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 10px;
    gap: 15px;
}
.empresarial{
    width: 270px;
    height: 380px;
}

.consumidor{
    width: 270px;
    height: 380px;
}

.previdenciario{
    width: 270px;
    height: 380px;
}

.areas-baixo{
    display: flex;
    align-items: center;
    list-style-type: none;
    justify-content: center;
    padding-bottom: 120px;
    max-width: 800px;
    margin: auto;
    margin-top: 60px;
    gap: 60px;
}

.areas-baixo>div{
    box-shadow: 0px 0px 5px 0.5px rgba(0, 0, 0, 0.822);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 15px;
    padding-top: 10px;
}

.civel{
    width: 270px;
    height: 380px;
}

.familia{
    width: 270px;
    height: 380px;
}


.empresarial>img{
    width: 220px;
}

.consumidor>img{
    width: 220px;
}

.previdenciario>img{
    width: 220px;
}

.civel>img{
    width: 220px;
}

.familia>img{
    width: 220px;
}





.equipe{
    background-image: url(../fundomarmore2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


.equipe>h2{
    padding-top: 30px;
    text-align: center;
    font-weight: normal;
    font-size: 30px;
    background-color: rgb(66, 66, 64);
    color: white;
    margin-bottom: -1px;
}

.minilogo-equipe{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    background-color: rgb(66, 66, 64);
    padding-bottom: 10px;
}

.lista-equipe-cima, .lista-equipe-baixo{
    list-style: none;
    display: flex;
    justify-content: center; 
    padding-bottom: 100px;
    gap: 40px;
    padding-top: 30px;
    padding-left: 100px;
    padding-right: 100px;
    flex-wrap: wrap;
}

.lista-equipe-cima>div, .lista-equipe-baixo>div{
    width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    text-align: center;
    padding-bottom: 20px;
}

.lista-equipe-cima>div>img, .lista-equipe-baixo>div>img{
    width: 250px;
}

span{
    font-weight: 600;
}

.lista-equipe-cima>div>li>p{
    border-top: 1px solid black;
    margin-top: 5px;
    padding-top: 10px;
}




footer{
    background-color: rgb(29, 28, 28);
}

footer>h2{
    text-align: center;
    padding-top: 50px;
    font-weight: 400;
    font-size: 28px;
    color: white;
}

.faleconosco{
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
}
.contato-area{
    background-color: white;
    padding-bottom: 20px;
}
.contato{
    list-style-type: none;
    padding: 15px;
}

.contato>li{
    margin-top:6px;
}
.botoes{
    display: flex;
    justify-content: center;
    gap: 25px;
    padding-top: 40px;
}

.botoes>a{
    color: black;
    transition-duration: 0.3s;
}
.botoes>a:hover{
    transform: scale(1.06);
}
form>h3{
    color: white;
    text-align: center;
}
form{
    display: flex;
    flex-direction: column;
    width:400px;
    gap: 10px;
    background-color: rgb(5, 5, 5);
    padding: 20px 30px 30px 30px;
    border-radius: 5px;
}

form>input, textarea{
    color: rgb(0, 0, 0);
    padding: 10px 5px 10px 5px;
    background-color: rgb(255, 255, 255);
    outline: 0;
    border: 0;
    border-radius: 2px;
    font-size: 16px;
}
form>input::placeholder{
    color: rgb(0, 0, 0);
}

textarea::placeholder{
    color: rgb(0, 0, 0);
}

textarea{
    resize: none;
    padding-bottom: 35px;
}
.enviar{
    transition-duration: 0.3s;
}
.enviar:hover{
    cursor: pointer;
    background-color: rgb(131, 131, 131);
}

footer>ul{
    background-color: white;
}

.gmaps{
display: flex;
margin-top: 40px;
flex-direction: column;
align-items: center;
padding-bottom: 50px;
}

.mapa{
width: 500px;
height: 350px;
}

iframe{
    width: 100%;
    height: 100%;
}

.gmaps>h3{
    color: white;
    font-size: 25px;
    padding-left: 100px;
    padding: 10px;
}


@media screen and (max-width: 1000px){
.topo{
        color: white;
        display: flex;
        background-color: rgba(0, 0, 0, 0.911);
        padding: 2px 0px 2px 0px;
        justify-content: center;
        font-family: "Barlow", sans-serif;
        font-size: 14px;
        margin: 0px;
    }

.email{
    display: none;
    }

.email-icon{
        display: none;
    }

.tel{
        margin-right: 10px;
    }
.menu>ul{
    display: none;
}
.x{
    display: flex;
}





.menu-mobile{
    
}
.botao-menu{
    display: flex;
    cursor: pointer;
    position: fixed;
}







.fundo{
    background-position: top;
}

.paragrafo{
    padding-left: 3%;
    padding-right: 3%;
    font-size: 17px;
    padding-bottom: 25px;
 }

 .areas{
    flex-direction: row;
    flex-wrap: wrap;

}

 .areas-baixo{
    flex-direction: row;
    flex-wrap: wrap;
 }

 .lista-equipe-cima{
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 0px;
 }

 .lista-equipe-baixo{
    flex-direction: row;
    flex-wrap: wrap;
 }

 .faleconosco{
    padding-top: 30px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;;
    width:82vw;
    gap: 10px;
    background-color: rgb(5, 5, 5);
    padding: 20px 30px 30px 30px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.gmaps{
    display: flex;
    margin-top: 40px;
    flex-direction: column;
    align-items: center;
    }
    
    .mapa{
    width: 89vw;
    height: 300px;
    }
    
    iframe{
        width: 100%;
        height: 100%;
    }
    
    .gmaps>h3{
        padding: 10px;
    }
    
    
    
    .whatsapp{
        display: none;
    }
    .whatsapp-mobile{
        display: flex;
        justify-content: right;
        margin: 10px;
        align-items: center;
        position: fixed;
        bottom: 15px;
        right: 15px;
        transition-duration: 0.2s;
    }
    .linkwhatsapp-mobile{
        background-color: #25D366;
        color: white;
        text-decoration: none;
        padding: 7px;
        border-radius: 50%;
    }
    
    .wappicon-mobile{
        z-index: 99999;
        padding-top: 2px;
        padding-left: 2px;

    }


}
