@charset "UTF-8";
*{
    margin: 0px;
    padding:0px;
}

body{
    max-width: 1300px;
   margin: auto;
}
.topo{
    color: white;
    display: flex;
    background-color: rgba(0, 0, 0, 0.911);
    padding: 3px;
    padding-left: 4px;
}

.email{
    margin-left: 40px;
}

.menu>ul{
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    padding:10px;
    margin-top:12px;
    
}

.menu>ul>li{
    margin-left: 15px;
    font-size: 17px;
    font-weight: bold;
}

.menu>ul>li>a{
    text-decoration: none;
    color: black;
}

main{
    background-image: url(../fundomenor.jpg);
    background-size: cover;
    height: 800px;
    
}