@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dosis:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0px;
    padding:0px;
    font-family: "Roboto", sans-serif;
}

header {
    background-image: url(../fundomarmore2.jpg);
    background-size: cover;
    background-position: top;
    box-shadow: inset 0px 0px 6px 4px rgba(0, 0, 0, 0.651);
}
.topo{
    color: white;
    display: flex;
    background-color: rgba(0, 0, 0, 0.911);
    padding: 5px;
    justify-content: center;
    font-family: "Barlow", sans-serif;
}
.tel{
    margin-right: 120px;
}
.email{
    margin-right: 120px;
    font-size: 17px;
}
.tel-icon{
    color: white;
    width: 18px;
    padding-top:3px;
    margin-right: 10px;
}
.email-icon{
padding-top:4px;
margin-right: 7px;
}
.local-icon{
    width:15px;
    padding-top: 1px;
    margin-right: 6px;
}
.menu{
    padding-bottom: 20px;
}






.menu>ul{
    display: flex;
    list-style-type: none;
    padding:10px;
    margin-top:12px;
    justify-content: center;
}

.menu>ul>li{
    margin-left: 60px;
    font-size: 18px;
    font-weight:500;
    font-family: "Roboto", sans-serif;
}

.menu>ul>li>a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    display: inline-block;
    transition: 0.2s;
}

.logo{
   display: flex;
    justify-content: center;
}
.logo>img{
    width: 250px;
    margin-top: 20px;
}

.menu>ul>li>a:hover{
    transform: scale(1.08);
}









.fundo{
    background-image: url(../background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 40px;
}

.sobre{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titulo{
    font-size: 30px;
    color: white;
    padding-top: 50px;
    margin-bottom: 5px;
}

.paragrafo{
   color: white;
   max-width: 1200px;
   font-size: 20px;
   text-align: center;
   margin-bottom: 170px;
}

.fundo>h2{
    color: white;
    text-align: center;
}

.areas{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    list-style-type: none;
    margin-top: 80px;
    padding: 0px 10px ;
    padding-bottom: 120px;

}

.areas>div{
    background-color: rgba(255, 255, 255, 0.301);
    border-radius: 15px;
    box-shadow: 2px 2px 5px 5px rgba(255, 255, 255, 0.281);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 15px;
    padding-top: 10px;
}
.empresarial{
    width: 270px;
    height: 450px;
}

.consumidor{
    width: 270px;
    height: 450px;
}

.previdenciario{
    width: 270px;
    height: 450px;
}

.civel{
    width: 270px;
    height: 450px;
}

.familia{
    width: 270px;
    height: 450px;
}


.empresarial>img{
    width: 220px;
}

.consumidor>img{
    width: 220px;
}

.previdenciario>img{
    width: 220px;
}

.civel>img{
    width: 180px;
}

.familia>img{
    width: 220px;
}











.equipe{
    background-image: url(../fundomarmore2.jpg);
    background-size: cover;
    box-shadow: inset 0px 0px 5px 3px rgba(0, 0, 0, 0.74);
}
.equipe>h2{
    padding-top: 130px;
    text-align: center;
    margin-bottom: 65px;

}

.lista-equipe{
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding-bottom: 150px;
}

.lista-equipe>div{
    width: 280px;
    border: 1px solid black;
}

.lista-equipe>div>img{
    width: 250px;
}











footer{
    text-align:center;
    padding: 150px 0px 150px 0px;
    font-size: 25px;
    background-color: rgba(0, 0, 0, 0.192);
}



.gmaps{
display: flex;
}

.mapa{
width: 450px;
height: 350px;
}

iframe{
    width: 100%;
    height: 100%;
}